<h1><%= @cocktail.name %></h1>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, include_hidden: false %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Go back to menu", root_path%>


<% @cocktail.doses.each do |dose|  %>
<p>
<%= dose.description %> <%= dose.ingredient.name%>
</p>
<%= link_to "Delete", dose_path(dose.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
